
body,html{margin: 0px; padding: 0px; background-color: transparent; color:#000; height: 100%; width: 100%;}

p{margin:0 0 10px 0}

h1, h2, h3 {padding:0; margin:0; color:#fff;}

ul, li {list-style-type: none; padding: 0; margin: 0;}

#Page_Container, #All_Comments_Container {margin-top:60px; position:relative; width: 100%; min-height:100%; padding: 0px;}

.left{
    float:left;
}

.right{
    float:right;
}


/*     Calander      */

#calendar, #dropdownContainer{
    height:auto;
    background-color: #fff;
    border:1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;  
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    z-index:10;
display:none;
position: absolute;

overflow: hidden;
padding-top: 8px;
}

.top-left{-moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px;}
.top-right{-moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-radius-topright: 10px;}
.bottom-left{-moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-radius-bottomleft: 10px;}
.bottom-right{-moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-radius-bottomright: 10px;}

#dropdownContainer{width: 300px;height:auto;padding:0px;}

.dropdowns{position:relative !important; top:0;left:0;}

#dropdownContainer{
    position:absolute;
    display:none; 
}

.startTime{
    left: 210px !important;
}

.endTime{
    left:332px !important;
}

.dropdowns, .dropdowns td{
    display:inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    overflow:hidden;
    float:left;
}

.dropdowns td{width:50px; font-size:82%;}

.dropdowns div{
    border-bottom: 1px solid #ccc;
    text-align:center;  
    text-decoration:none;
    color: #BAC6F3;
    padding:10px;
    cursor:pointer; 
}

.dropdowns .hover, #calendar .hover{
    background-color:#D1F3FA;
}

.dropdowns .bottom{
    border:none;
}

#calendar table, dropdowns table {
    background-color: #fff;
    border-collapse: collapse;
    border-color: #fff;
    border-width: 0 8px;
    border-style: none solid;
    display: inline-table;
    margin: 0 1px 0 0;
}

#calendarBody{
background-color: #fff;
height: auto;
left: 0;
padding: 0;
position: relative;
/* top: 8px; */
width: 100%;
}

#calendar thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

#calendar thead .month-name {
line-height: 37px;
}
#calendar thead th {
background-color: #eee;
color: #8727DF;
}

#calendar th, #calendar td {
text-align: center;
text-decoration: none;
}

#calendar tbody th span {
display: block;
font-size: 70%;
font-weight: normal;
height: 20px;
line-height: 20px;
width: 30px;
}

#calendar tbody th{
border-bottom: 1px solid #ccc;
color: #24ADD8;
}

#calendar td {
color: #8727DF;
cursor: pointer;
font-weight: bold;
}

#calendar .today {
background-color: #6E22F5;
color: #fff;
font-size: 1.000em;
}

#calendar tbody td span {
display: block;
height: 22px;
line-height: 22px;
margin: 2px 0;
width: 30px;
font-size:75%;
}

#calendar .inactive {
color: #666;
cursor: auto;
font-weight: normal;
}

#calendar .unavailable{
color: #666;
cursor: auto;
font-weight: normal;
}

#calendar .selected-date {
background-color: #33EE0F;
color: #000;
font-size: 1.000em;
}


#previousMonth, #nextMonth{
    position: absolute;
    top: 18px;
    left:10px;
    cursor:pointer;
}

#nextMonth{
    left:220px;
}

.filterButtons{
    height:25px;
    width:100px;
    background-color:#eee;
        border:1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;  
    text-align:center;
    line-height:25px;
    cursor:pointer;
    display:inline-block;
}

#closeCalendar{
	cursor:pointer;
}

.no-border{
border:none;
}

.selected{
border-color:#6E22F5;
}

.filterButtons:hover{
    border-color:#6E22F5;
}